<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Athlete Award Viewer</title>
    <script src="vendors/jquery-3.0.0.min.js" charset="utf-8"></script>
    <script src="scripts/client.js" charset="utf-8"></script>
    <link rel="stylesheet" href="stylesheets/styles.css">
  </head>
  <body>
    <h1>Athlete Award Viewer</h1>
    <h2>Enter a new athlete:</h2>
    <input type="text" id="eventName" value="" placeholder="Event Name">
    <input type="text" id="athleteName" value="" placeholder="Athlete Name">
    <input type="text" id="award" value="" placeholder="Award">
    <button id="addAwardButton">Add Award</button>
    <div id="awardList"></div>
    <button id="alphabetizeButton">Alphabetize List</button>
    <p>Click on an athlete's table row to show only awards from that athlete.</p>
  </body>
</html>
